extends ../layout

block content
    .container 
    form(action=`/alumnos/edit/${alumno._id}`, method="post") 
        label.form-label(for="nombre") Nombre:
        input.form-control(type="text", name="nombre", required, value=`${alumno.nombre}`)
        br
        label.form-label(for="apellido") Apellido
        input.form-control(type="text", name="apellido", required, value=`${alumno.apellido}`)
        br
        label.form-label(for="telefono") Telefono:
        input.form-control(type="tel", name="telefono", required, value=`${alumno.telefono}`)
        br
        label.form-label(for="email") Correo electrónico:
        input.form-control(type="email", name="email", required, value=`${alumno.email}`)
        br
        button.btn.btn-success(type="submit") Guardar
        a.btn.btn-danger(href="/alumnos") Cancelar
